<nav class="navbar navbar-default navbar-fixed-top bcp-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bcp-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-lg" href="{{ path('homepage') }}" style="font-size: 100px;">
                        <img src="{{ asset('bundles/app/img/logo_bcp.jpg') }}" class="img-circle">
                        <span class="hidden-xs">Bowling Club Poitevin</span>
                    </a>
                    <a class="navbar-brand visible-md visible-sm" href="{{ path('homepage') }}" style="font-size: 45px;">
                        <img src="{{ asset('bundles/app/img/logo_bcp.jpg') }}" class="img-circle">
                        <span class="hidden-xs">Bowling Club Poitevin</span>
                    </a>
                    <a class="navbar-brand visible-xs" href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/app/img/logo_bcp.jpg') }}" class="img-circle">
                        <span class="hidden-xs">Bowling Club Poitevin</span>
                    </a>
                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="bcp-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul><!-- /.nav navbar-nav -->

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Bonjour {{ app.user.username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Profil</a></li>
                                    {% if is_granted('ROLE_INTERFACE_ADMIN') %}
                                        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-cogs"></i> Administration</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                                </ul><!-- /.dropdown-menu -->
                            </li><!-- /.dropdown -->
                        </ul><!-- /.nav navbar-nav navbar-right -->
                    {% else %}
                        <p class="navbar-text navbar-right">
                            <a href="{{ path('fos_user_security_login') }}">Connexion</a> &nbsp;
                            ou &nbsp;
                            <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        </p><!-- /.navbar-text navbar-right -->
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</nav><!-- /.navbar navbar-default -->