{% if infos is not null %}
    <p>Sexe: {{ infos.attr('sexe') }}</p>
    <p>Catégorie: {{ infos.attr('categorie') }}</p>
    <p>Nom: {{ infos.attr('nom') }}</p>
    <p>Moyenne: {{ infos.attr('moyenne') }}</p>
    <p>Handicap: {{ infos.attr('handicap') }}</p>
    <p>Club: {{ infos.attr('club') }}</p>
{% endif %}