{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bcp-posts.css') }}">
{% endblock stylesheets %}

{% block admin_content %}
    <div class="row page-header bcp-page-header">
        <div class="col-md-8 bcp-np">
            <h3>
                {{ entity.title }} {% if entity.submitted %}[Partagé]{% endif %}
                <span class="help-block">Le {{ entity.created | date('d/m/Y, H:i') }}</span>
            </h3>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4 bcp-np text-right">
            <a href="{{ path('admin_shared_file_update', {'id': entity.id}) }}" class="btn btn-default">
                <i class="fa fa-pencil"></i> Modifier
            </a>
            <a href="{{ path('admin_entity_list', {'entity': 'sharedFile'}) }}" class="btn btn-default">
                <i class="fa fa-chevron-left"></i> Retour
            </a>
        </div><!-- /.col-md-4 -->
    </div><!-- /.page-header bcp-page-header -->
{% endblock admin_content %}
