{% extends 'AppBundle:Admin:layout.html.twig' %}
{% import '@App/Utils/table_header.html.twig' as pc_utils %}

{% set fields = [
    {"name": "n.mail", "render": "Adresse mail"},
] %}

{% block admin_content %}
    <div class="row bcp-mb">
        <div class="col-md-12">
            <div class="pull-left">
                <h3 class="bcp-page-header">Liste des adresses mail de la newsletter ({{ pagination.getTotalItemCount }})</h3>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="bg-primary">
                {{ pc_utils.pc_table_header(pagination, fields) }}
            </tr>
        </thead>

        {% for newsletter in pagination %}
            <tr>
                <td>{{ newsletter.mail }}</td>
                <td>
                    {% if is_granted('ROLE_NEWSLETTER_REMOVE') %}
                        <a href="{{ path('admin_newsletter_remove', {'id': newsletter.id}) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Supprimer">
                            <i class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table><!-- /.table-bordered -->

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div><!-- /.text-center -->
{% endblock admin_content %}
