{% extends 'AppBundle:Admin:layout.html.twig' %}
{% import '@App/Utils/table_header.html.twig' as pc_utils %}

{% set fields = [
    {"name": "p.created", "render": "Créé le"},
    {"name": "p.title", "render": "Titre"},
    {"name": "p.authorName", "render": "Auteur"},
    {"name": "p.images", "render": "Images"},
    {"name": "p.pdfs", "render": "Pdfs"},
    {"name": "p.published", "render": "Publié"}
] %}

{% block admin_content %}
    <div class="row bcp-mb">
        <div class="col-md-12">
            <div class="pull-left">
                <h3 class="bcp-page-header">Liste des articles ({{ pagination.getTotalItemCount }})</h3>
            </div>
            <div class="pull-right">
                {% if is_granted('ROLE_POST_CREATE') %}
                <a href="{{ path('admin_post_create') }}" class="btn btn-default">
                    <i class="fa fa-plus-circle"></i> Créer un article
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="bg-primary">
                {{ pc_utils.pc_table_header(pagination, fields) }}
            </tr>
        </thead>

        {% for post in pagination %}
            <tr>
                <td>{{ post.created | date('d/m/Y, H:i') }}</td>
                <td style="max-width: 350px;">{{ post.title }}</td>
                <td>{{ post.authorName }}</td>
                <td>
                    {% if post.images|length > 0 %}
                        <a href="#" data-toggle="modal" data-target="#post-img-{{ post.id }}"><i class="fa fa-image"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if post.pdfs|length > 0 %}
                        <a href="#" data-toggle="modal" data-target="#post-pdf-{{ post.id }}"><i class="fa fa-file-pdf-o"></i></a>
                    {% endif %}
                </td>
                <td>{% if post.published %}<i class="fa fa-check-circle"></i>{% endif %}</td>
                <td>
                    <a href="{{ path('admin_entity_see', {'entity': 'post', 'id': post.id}) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Visualiser">
                        <i class="fa fa-eye"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_POST_UPDATE') and post.isOwn(app.user.id)) %}
                        <a href="{{ path('admin_post_update', {'id': post.id}) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Modifier">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_POST_REMOVE') and post.isOwn(app.user.id)) %}
                        <a href="{{ path('admin_post_remove', {'id': post.id}) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Supprimer">
                            <i class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table><!-- /.table-bordered -->

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div><!-- /.text-center -->

    {% for post in pagination %}
        {% if post.images|length > 0 %}
            <div id="post-img-{{ post.id }}" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="min-height: 50px;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% for image in post.images %}
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" src="{{ asset(image.webPath) }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!-- /.modal-body -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
        {% if post.pdfs|length > 0 %}
            <div id="post-pdf-{{ post.id }}" class="modal fade">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="min-height: 50px;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                {% for pdf in post.pdfs %}
                                    <a target="_blank" href="{{ asset(pdf.webPath) }}">{{ pdf.alt }}</a>
                                {% endfor %}
                            </div>
                        </div><!-- /.modal-body -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    {% endfor %}
{% endblock admin_content %}